<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/register" method="post">
<label>UserName : </label>
<input type="text" name="username">
<br>
<label>E-mail : </label>
<input type="text" name="email">
<br>
<label>Password : </label>
<input type="password" name="password">
<br>
<label>Gender : </label>
M<input type="radio" value="male" name="gender">
F<input type="radio" value="female" name="gender">
O<input type="radio" value="other" name="gender">
<br>
<label>Role : </label>
Admin<input type="radio" value="admin" name="role">
Customer<input type="radio" value="customer" name="role">
<br>
<label>Address : </label>
<textarea name="address"></textarea>
<br>
<input type="submit" value="Register">
</form>
</body>
</html>